body {
    color: #5f6c7b;
    /* サイト全体の文字色を指定 */
}

a {
    color: #3da9fc;
    text-decoration: none;
    /* リンクの下線を消す */
}

a:hover {
    color: #1e7bbf;
    /* ホバー時の色（少し濃い青） */
}

.form-control {
    background-color: #f0f4f8;
    /* テキストエリアの背景色 */
    border: 3px solid #094067;
    /* テキストエリアの枠線 */
    color: #094067;
    /* テキストエリアの文字色 */
}

.btn-primary {
    background-color: #ef4565 !important;
    border-color: #ef4565 !important;
}

.btn-primary:hover {
    background-color: #d93c5a !important;
    border-color: #d93c5a !important;
}

.btn-secondary {
    background-color: #094067 !important;
    border-color: #094067 !important;
}

.btn-secondary:hover {
    background-color: #072f4f !important;
    border-color: #072f4f !important;
}

.btn-danger {
    background-color: #3da9fc !important;
    border-color: #3da9fc !important;
    color: white;
    font-size: 15px;
}

.btn-danger:hover {
    background-color: #1e7bbf !important;
    border-color: #1e7bbf !important;
}

.btn-simple {
    background-color: transparent;
    border: none;
    color: #3da9fc;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.btn-simple:hover {
    color: #094067;
}

.btn-nav {
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.btn-nav:hover {
    background-color: none;
    color: #c4d1f7;
    font-weight: bold;
}

/* ボタン */
.btn-round {
    padding: 3px 10px;
    border-radius: 50px;
    border: 1px solid #3da9fc;
    cursor: pointer;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-round:hover {
    background-color: #f0f4f8;
    color: hsl(0, 0%, 100%);
}

.card {
    color: #094067;
    /* カードの文字色 */
    background-color: #d8eefe;
    /* カードの背景色 */
    border-radius: 10px;
    /* カードの角を丸くする */
}

.card-body {
    border: 1px solid #094067;
    /* 枠線の太さと色を指定 */
}

.table td,
.table th {
    color: #094067;
    /* テーブルの文字色 */
}

.container {
    max-width: 90%;
    /* コンテナの最大幅を80%に設定 */
    margin: 2rem auto;
    /* 上下のマージンを2rem、左右は自動で中央寄せ */
}

/* ページネーションのスタイル */
.page-link {
    color: #094067;
    /* リンクの色を変更 */
}

.page-link:hover {
    color: #3da9fc;
    /* ホバー時の色を変更 */
}

.page-item.active .page-link {
    background-color: #094067;
    /* アクティブなページの背景色 */
    border-color: #094067;
    /* アクティブなページの枠線色 */
    color: white;
    /* アクティブなページの文字色 */
}

/* 認証画面のスタイル */
.auth-page {
    background: linear-gradient(45deg, #d0e5ff, #5483c5);
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-group {
    margin-bottom: 20px;
}

.auth-page input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.auth-page input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    /* プレースホルダーの色を薄く設定 */
}

.auth-page input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(61, 169, 252, 0.5);
}

.auth-page button {
    width: 100%;
    padding: 15px;
    background-color: #094067;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.auth-page button:hover {
    background-color: #072f4f;
    /* ホバー時の色を変更 */
}