{% extends 'base.html' %}


{% block title %}詳細｜issue-management{% endblock title %}



{% block content %}
{% block h1 %}詳細{% endblock h1 %}

<!-- 背景色を変更 -->
<style>
    body {
    background-color:rgb(241, 241, 241);
    }
</style>

<!-- issue の内容 -->
<div class="p-3 mt-3 bg-white rounded">
    <h2 class="h4">No. {{ object.id }}　{{ object.title }}</h2><hr>
        <div><small>
            期限日：&nbsp; <strong> {{ object.deadline }} </strong>　状態：&nbsp; <strong> {{ object.get_progress_display }} </strong>
                    　区分：&nbsp; <strong>{{ object.get_type_display }}</strong>
                    　予算：&nbsp; <strong>{{ object.budget|default_if_none:"--" }} 円</strong>
                    　担当者：&nbsp; <strong>{{ object.person }}</strong>
        </small></div>
        <hr>
        <p class="mb-4">{{ object.contents }}</p>

        <!-- ボタン -->
        <div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
            <small>更新日：&nbsp; <strong>{{ object.create_date }}　</strong></small>
            <a class="btn btn-outline-primary btn-custom" href="{% url 'update' issues.id %}" role="button">編集</a>
            <a class="btn btn-outline-success btn-custom" role="button" id="btn">クリップボードコピー</a>
            <a class="btn btn-outline-secondary btn-custom" href="{% url 'list' %}" role="button">戻る</a>
            <a class="btn btn-outline-danger btn-custom" href="{% url 'delete' issues.id %}" role="button">削除</a>
        </div>
</div>

<!-- 添付ファイル  -->
<br>
<div class="card">
    <div class="card-header">
        添付ファイル
        <button type="button" class="btn btn-link"><a href="{% url 'upload' issues.id %}">ファイルをアップロード</a></button>
    </div>
    <ul class="list-group list-group-flush">
        {% for file in object.uploaded_files.all %}
            <li class="list-group-item">
                <a href="{{ file.file.url }}">{{ file.file.name }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">
                アップロードされたファイルはありません。
            </li>
        {% endfor %}
    </ul>
</div>

<!-- 進捗状況 実行すると以下のようにターミナルに出るがファイルがない。
ファイルをアップロードしました！
[<InMemoryUploadedFile: render-banner.png (image/png)>] -->

<!-- メッセージを表示（トースト） -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    {% if messages %}
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="toast-header">
            <strong class="me-auto">通知</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %} 
</div>    

<!-- クリップボードコピー内容 -->
<div id="txt" style="display:none;">
    <p>アプリにログインして、進捗を確認してください。</p>
    <p>No. {{ object.id }}　{{ object.title }}</p>
    <p>{{ request.scheme }}://{{ request.get_host }}{{ request.path }}</p>
</div>

<div>
    <p class="h6 mt-4">コメント</p>
        <div>
            <a class="navbar-brand">
                {% for comment in issues.progresscomment_set.all %}
                <hr>    
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    <b>{{ comment.user }} さん</b>　{{ comment.create_date }}　
                    <button type="button" class="btn btn-primary" id="comment-{{ comment.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal" data-comment-value="{{ comment.comment }}" onclick="showUpdateCommentModal({{ comment.id }})">
                        Launch demo modal
                    </button>
                </p>
                <p>
                    <nav class="p-3 m-3 navbar-expand-lg border-light-subtle bg-white text-wrap rounded">{{ comment.comment | linebreaksbr }}</nav>
                </p>
                
                {% endfor %}
            </a>
        </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="modal-body"></div>

    
    <form action="{% url 'comment_update' issues.id 10 %}" method="post" class="p-3">
        {% csrf_token %}
        <div>
            <textarea id="update-btn" class="form-control" name="comment" value=""></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-danger mt-4">コメントを送信</button>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</div>
</div>
<!-- Modalここまで -->

<!-- コメント送信欄 -->
<div>
    <nav class="fixed-bottom bg-body-tertiary border border-danger-subtle">
        <p class="mb-0 d-grid gap-2">
            <a class="btn text-danger-emphasis" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <b>進捗をコメントする ▼</b>
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <!-- コメント作成用のURLを渡す -->
            <form action="{% url 'comment_create' issues.id %}" method="post" class="p-3">
                {% csrf_token %}
                <div>
                    <textarea id="comment" class="form-control" name="comment" rows="5" cols=""></textarea>
                    <p class="m-0"><small>※ 入力した日時とログインユーザーが自動入力されます。</small></p>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-danger mt-0">コメントを送信</button>
                </div>
            </form>

        </div>
        
    </nav>
</div>

{% comment %} <script>
    function showUpdateCommentModal(id) {
        const btn_id = `comment-${id}`
        const btn_element = document.getElementById(btn_id)
        document.getElementById("update-btn").value = btn_element.dataset.commentValue;
    }
</script> {% endcomment %}

<!-- クリップボードコピーJS -->
<script>
// HTML要素取得
const txt = document.getElementById('txt');
const btn = document.getElementById('btn');

// コピー処理（btnがクリックされたらtxtをコピーする）
btn.addEventListener('click', () => {
    if (!navigator.clipboard) {
        alert("残念ですが、このブラウザは対応していません...");
        return;
    }

    navigator.clipboard.writeText(txt.textContent).then(
        () => {
        alert('リンクをクリップボードにコピーできました！\nメール本文などに貼り付けて利用できます。');
        },
        () => {
        alert('クリップボードにコピーできませんでした。');
        });
});
</script>


{% endblock %}

<!-- このページのみフッター下側にマージンを設ける -->
{% block footer %}
    <footer class="mb-5">
    <a href="{% url 'list' %}">リストに戻る</a>
    </footer>
{% endblock %}
