{% extends 'base.html' %}
{% load static %}
{% block title %}Home｜issue-management{% endblock title %}

{% block content %}

<!-- 検索はこちらからボタン -->
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  検索はこちらから
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body mb-3" border: 4px solid #094067;>
    <!-- 検索フォーム -->
    <form class="mt-2" id="search-form" action="" method="GET">
      <p>検索条件を指定して「検索する」ボタンを押してください。</p>
        <label for="{{ search_form.key_word.id_for_label }}" class="label m-2">件名</label>
          {{ search_form.key_word }}　

        <label for="period" class="label m-2">期限日</label>
          {{ search_form.from_deadline }}&nbsp; 〜&nbsp; {{ search_form.to_deadline }}　</p>

        <label for="{{ search_form.progress.id_for_label }}" class="label m-2">進捗状況</label>
        {{ search_form.progress }}　

        <label for="{{ search_form.type.id_for_label }}" class="label m-2">タイプ</label>
        {{ search_form.type }}　

        <label for="{{ search_form.person.id_for_label }}" class="label m-2">担当者</label>
        {{ search_form.person }}　

        <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- 検索ボタン -->
          <button class="btn btn-outline-primary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            検索する
          </button>　
          <!-- 検索条件クリアボタン -->
          <a class="btn btn-outline-secondary btn-custom" href="{% url 'list' %}" role="button">検索条件クリア</a>
        </div>
    </form>
  </div>
</div>

{% block h1 %}課題リスト{% endblock h1 %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">件名</th>
        <th scope="col">期限日</th>
        <th scope="col">タイプ</th>
        <th scope="col">担当者</th>
        <th scope="col">進捗状況</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for issues in object_list %}
      <tr class="align-middle">
        <th scope="row">{{ issues.id }}</th>
        <td>{{ issues.title }}</td>
        <td>
          <!-- 今日が期限日を過ぎている、かつ進捗状況が完了、対応不要　以外の時に赤く表示 -->
          {% if now_date > issues.deadline and issues.progress != 0 and issues.progress != 4 %} 
            <span style="color: #ef4565">{{ issues.deadline }}
              <!-- アイコン -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="期限日を過ぎています！">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
              </svg>
            </span>
          {% else %}{{ issues.deadline }}
          {% endif %}
        </td>
        <td>{{ issues.get_type_display }}</td>
        <td>{{ issues.person }}</td>
        <td>{{ issues.get_progress_display }}</td>
        <td><a href="{% url 'detail' issues.id %}" class="btn btn-simple btn-sm">詳細を見る
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
          </svg>
        </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- ページネーション -->
<div class="mt-4">
  <nav aria-label="Search results pages">
    {% load issue %}
    <ul class="pagination justify-content-center">
      <!-- 最初へ／前へ -->
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{%  url_replace request 'page' 1 %}">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?{%  url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">First</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link">&laquo;</a>
        </li>
      {% endif %}

      <!-- ページリンク -->
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active" aria-current="page">
            <a class="page-link">{{ num }}</a>
          </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?{%  url_replace request 'page' num %}">{{ num }}</a>
        </li>
        {% endif %}
      {% endfor %}

      <!-- 次へ／最後へ -->
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?{%  url_replace request 'page' page_obj.next_page_number %}">&raquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?{%  url_replace request 'page' page_obj.paginator.num_pages %}">Last</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link">Last</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

<!-- メッセージを表示（トースト） -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  {% if messages %}
  {% for message in messages %}
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
      <div class="toast-header">
          <strong class="me-auto">通知</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
          {{ message }}
      </div>
  </div>
  {% endfor %}
  {% endif %} 
</div>
{% endblock %}

{% block script %}
  <script src="{% static "javascript/toast.js" %}"></script>
  <script src="{% static "javascript/tooltip.js" %}"></script>
{% endblock %}