{% extends 'base.html' %}

{% block title %}issue-management｜ログイン{% endblock %}
{% block content %}
{% block h1 %}ユーザー名、パスワードを入力してログイン{% endblock h1 %}

<div>
    <form method="post" class="p-4 m-4 text-danger-emphasis bg-light-subtle border border-danger-subtle rounded-3 form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ field.errors }}
        <label for="name">
            ユーザー名
        </label>
        <input id="name" type="text" class="form-control" name="username">

        <label for="pass">
            パスワード
        </label>
        <input id="pass" type="password" class="form-control" name="password">

        <button type="submit" class="btn btn-danger mt-4">ログインする</button>
    </form>
</div>
{% endblock %}