{% extends 'base.html' %}

{% block title %}ログイン｜issue-management{% endblock %}
{% block content %}
{% block h1 %}ユーザー名、パスワードを入力してログイン{% endblock h1 %}

<div>
    <form method="post" class="p-4 m-4 text-danger-emphasis bg-light-subtle border border-danger-subtle rounded-3 form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ field.errors }}
        <label for="name">
            ユーザー名
        </label>
        <!-- 入力値があれば残す設定：value -->
        <input id="name" type="text" class="form-control mb-3" name="username" value="{{ form.username.value|default_if_none:"" }}">
        <!-- 空白の場合エラーを表示 -->
        <b><font color="red">{{ form.username.errors }}</font></b>


        <label for="pass">
            パスワード
        </label>
        <input id="pass" type="password" class="form-control" name="password" value="{{ form.password.value|default_if_none:"" }}">
        <b><font color="red">{{ form.password.errors }}</font></b>

        <button type="submit" class="btn btn-danger mt-4">ログイン</button>
    </form>
</div>

<div class="m-4">
    <p>ポートフォリオにアクセスいただきありがとうございます！随時更新中です。下記アカウントでログインしてご覧ください。</p>
    [閲覧用アカウント]　
    ユーザー名：佐藤<a class="btn" role="button" id="btn1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
        </svg>
    </a>　　
    パスワード：abababab<a class="btn" role="button" id="btn2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
        </svg>
    </a>
    <script>
        // クリップボードにコピーするボタンの処理
        document.getElementById("btn1").onclick = function() {
            navigator.clipboard.writeText("佐藤");
            alert("ユーザー名をクリップボードにコピーしました。");
        }
        document.getElementById("btn2").onclick = function() {
            navigator.clipboard.writeText("abababab");
            alert("パスワードをクリップボードにコピーしました。");
        }
    </script>
</div>
{% endblock %}