{% extends 'base.html' %}
{% block title %}サインアップ｜issue-management{% endblock title %}


{% block content %}
{% block h1 %}サインアップ{% endblock h1 %}

<div class="mt-3">アカウントを作成するには、以下のフォームに必要事項を入力してください。<br>登録後、ログイン画面に遷移します。</div>
<div class="p-4 m-4 rounded-3" style="background-color: #d8eefe;">
    <form method="POST">
        {% csrf_token %}

        <label for="email">
            メールアドレス
        </label>
        <!-- 入力値があれば残す設定：value -->
        <input id="email" type="email" class="form-control mb-3" name="email" value="{{ form.email.value|default_if_none:"" }}">
        <!-- 空白の場合エラーを表示 -->
        <b><font color="red">{{ form.email.errors }}</font></b>

        <label for="name">
            ユーザー名
        </label>
        <input id="name" type="text" class="form-control mb-3" name="username" value="{{ form.username.value|default_if_none:"" }}">
        <b><font color="red">{{ form.username.errors }}</font></b>

        <label for="pass">
            パスワード
        </label>
        <input id="pass" type="password" class="form-control mb-3" name="password1" value="{{ form.password1.value|default_if_none:"" }}">
        <b><font color="red">{{ form.password1.errors }}</font></b>

        <label for="pass2">
            パスワード（確認用）
        </label>
        <input id="pass2" type="password" class="form-control" name="password2" value="{{ form.password2.value|default_if_none:"" }}">
        <b><font color="red">{{ form.password2.errors }}</font></b>

        <div>
            <button type="submit" class="btn btn-danger mt-4">アカウント作成</button>
        </div>
    </form>
</div>

{% endblock %}
