{% extends 'base.html' %}
{% block title %}編集｜issue-management{% endblock title %}

{% block content %}
{% block h1 %}編集して「更新」ボタンを押してください。{% endblock h1 %}
<!-- 背景色を変更 -->
<style>
    body {
    background-color:rgb(245, 245, 245);
    }
</style>

<!-- issue の内容を登録 -->
<div class="m-2 p-2">
    <p>更新後、課題の詳細画面に遷移します。</p>

    <div class="p-3 mt-3 bg-white rounded">
        <form method="POST">
            {% csrf_token %}
                <label for="title">
                    件名：
                </label>
                <!-- 入力値があれば残す設定：value -->
                <input id="title" type="text" class="form-control mb-3" name="title" value="{{ form.title.value|default_if_none:"" }}">
                <!-- 空白の場合エラーを表示 -->
                <b><font color="red">{{ form.title.errors }}</font></b>

                <label for="contents">
                    内容：
                </label>
                <textarea id="contents" class="form-control mb-3" name="contents" rows="5">{{ form.contents.value|default_if_none:"" }}</textarea>
                <b><font color="red">{{ form.contents.errors }}</font></b>

                <label for="deadline">
                    期限日：
                </label>
                <input required id="deadline" type="date" class="form-control mb-3" name="deadline" value="{{ form.deadline.value|date:'Y-m-d'|default_if_none:"" }}">
                <b><font color="red">{{ form.deadline.errors }}</font></b>

                <label for="type">
                    タイプ：
                </label>
                <select id="type" class="form-control mb-3" name="type">
                    {% for choice in form.type.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.type.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <b><font color="red">{{ form.type.errors }}</font></b>

                <label for="person">
                    担当者：
                </label>
                <select id="person" class="form-control mb-3" name="person">
                    {% for choice in form.person.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.person.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <b><font color="red">{{ form.person.errors }}</font></b>

                <label for="progress">
                    進捗状況：
                </label>
                <select id="progress" class="form-control mb-3" name="progress">
                    {% for choice in form.progress.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.progress.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <b><font color="red">{{ form.progress.errors }}</font></b>

                <label for="budget">
                    予算：
                </label>
                <input id="budget" type="number" class="form-control mb-3" name="budget" value="{{ form.budget.value|default_if_none:"" }}">
                <b><font color="red">{{ form.budget.errors }}</font></b>

                <div>
                    <button type="submit" class="btn btn-danger mt-4">更新する</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}